@font-face {
	font-family: "League Spartan";
	src: url(../fonts/LeagueSpartan.otf);
}

@font-face {
	font-family: "Font Awesome Brands";
	src: url(../styles/font-awesome/web-fonts-with-css/webfonts/fa-brands-400.ttf);
}

@font-face {
	font-family: "Font Awesome Regular";
	src: url(../styles/font-awesome/web-fonts-with-css/webfonts/fa-regular-400.ttf);
}

@font-face {
	font-family: "Font Awesome Solid";
	src: url(../styles/font-awesome/web-fonts-with-css/webfonts/fa-solid-900.ttf);
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,700');

@import "abstracts/variables";

// @import "vendor/bootstrap-select";
@import "vendor/bootstrap";
@import "vendor/fontawesome";


@import "components/topbar";
@import "components/container";
@import "components/sidebar";
@import "components/table";
@import "components/footer";
@import "components/typography";
@import "components/input";
@import "components/buttons";
@import "components/forms";
@import "components/spinner";
@import "components/modal";
@import "components/validation";
@import "components/dashboard";
@import "components/login";