button {
	font-family: $body-font;
	border: none;
	cursor: pointer;
	transition: 0.3s all;
	font-size: 14px;
	white-space: nowrap;
	height: 48px;

	&:focus {
		outline: none;
	}
}

button.primary {
	line-height: 18px;
	padding: 0 15px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.03em;
	background: #009CE0;
	color: $white;
	border-radius: 4px;
	padding: 10px 20px;

	&:hover {
		background: #20B4F5;	
	}
}

button.primary-cancel {
	font-weight: 700;
	color: #009CE0;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	text-decoration: underline;
	background: none;
	padding: 10px 20px;
	border-radius: 4px;
	border: 1px solid rgba(0, 156, 224, 0);

	&:hover {
	border: 1px solid rgba(0, 156, 224, 0.5);
	}
}

button.secondary {
	line-height: 16px;
	padding: 0 15px;
	text-transform: capitalize;
	font-weight: 700;
	letter-spacing: 0.03em;
	background: none;
	color: #252942;
	border: 1px solid #009CE0;
	border-radius: 4px;

	&:hover {
		border: 1px solid #0075A8;
		background: #fff;
	}
}

button.add-option {
	line-height: 16px;
	padding: 10px 15px;
	text-transform: capitalize;
	font-weight: 600;
	letter-spacing: 0.03em;
	background: none;
	color: #009CE0;
	height: unset;
	transition: 0.3s all;

	&:hover {
		text-decoration: underline;
	}
}

.secondary-button-wrapper {
	margin-top: 20px;
	max-width: 300px;
	min-width: 300px;
	align-self: center;
}

.add-option-button-wrapper {
	margin-top: 10px;
}

.last-button {
	margin-top: 10px;
}

.add-new-button {
	align-self: flex-end;	
}

.input-field-group .primary-button-wrapper button {
	width: 100%;
}

.section-options button {
	padding: 0; 
	background: none; 
	height: unset;
}
