html, body {
	height: 100%;
}

.container-fluid {
	display: flex;
	flex: 1 0 auto;
	background-color: $grey;
	padding: 0;
	flex-direction: column;
	min-height: 100%;
}

.content-wrapper {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	padding: 50px 0 0px 200px;
}

.content-header {
	padding: 50px 15px 0 15px;
	display: flex;
	flex-direction: column;
}

.options {
	display: inline-flex;
	flex-direction: row;
	padding: 35px 165px 0px 15px;
}

// .options input {
// 	flex: 0 1 48px;
// 	padding-left: 15px;
// }

.list-filter, .search-entry {
	display: flex;
	flex-direction: column;
}

.search-entry {
	padding-left: 20px;
}

.content {
	display: flex;
	padding: 30px 15px 0 15px;
	flex-direction: column;
	flex: 1 0 auto;
}

.error {
	justify-content: space-between;
}

.error-bot {
	align-self: flex-end;
	max-width: 250px;
	padding-bottom: 20px;
	padding-right: 20px;
	user-drag: none; 
	user-select: none;
}