.dashboard {
	padding-top: 0;
}

.dashboard-section-heading {
	border-bottom: 1px solid #BDBDBD;

	h2 {
		padding-left: 10px;
		letter-spacing: 0.03em;
		font-weight: 700;
		color: #828282;
		text-transform: uppercase;
		font-size: 14px;
	}
}

.dashboard-section {
	padding-top: 70px;
}

.dashboard-button-group {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	.dashboard-button {
		flex: 0 1 auto;
		min-width: 280px;
		border-radius: 6px;
		margin-top: 10px;
		margin-right: 10px;
		border-top: 6px solid #252942;
		font-size: 22px;
		color: #252942;
		letter-spacing: 0.02em;
		font-weight: 700;
		text-align: left;
		height: 58px;
		background: #fff;
		padding-left: 10px;
		padding-right: 20px;
		align-items: center;
		justify-content: space-between;
		display: flex;
		text-transform: capitalize;

		// .dashboard-button-icon {
		// 	width: 25px;
		// 	flex: 0 1 25px;
		//     height: 100%;
		//     vertical-align: middle;
		//     line-height: 0;
		//     font-size: 25px;
		//     transition: 0.3s all;
		//     display: inline-block;

		//     &:before {
		//     	font-family: $icon-font-solid;
		// 	    font-style: normal;
		// 	    font-weight: 400;
		// 	    font-variant: normal;
		// 	    line-height: 1;
		// 	    text-decoration: inherit;
		// 	    text-rendering: optimizeLegibility;
		// 	    text-transform: none;
		// 	    content: "\f058";
		// 	    color: #C2D0F3;
		//     }
		// }
	}	
}