.footer {
	display: inline-flex;
	flex-direction: row;
	background-color: $dark-blue;
	height: 50px;
	align-items: center;
	justify-content: space-between;
	padding: 0 15px 0 215px;
	flex-shrink: 0;
}


.footer img {
	max-width: 70px;
	padding-left: 5px;
}

.footer span {
	color: #9d9d9c;
	font-size: 0.75rem;
}


.version {
	display: flex;
	flex: 0 1 200px;
}

.version span {
	color: $grey;
	font-size: 0.85rem;
}