.section-header-title {
	display: flex;
	border-bottom: 1px solid #BDBDBD;
}

.section-content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-bottom: 50px;
}

.input-field-group {
	display: flex;
	flex-direction: column;
	width: 300px;
	justify-content: center;
	padding-top: 20px;
	align-self: center;
}

.input-fields {
	display: flex;
	flex-direction: column;
	padding-top: 25px;
}

.checkbox {
	flex-direction: row;
	align-items: center;
}

.selected-operator-count {
	flex-direction: row;
	justify-content: space-between;

	span {
		text-transform: uppercase;
		font-weight: 600;
	    letter-spacing: 0.0125em;
	    color: #009CE0;
	}
}

.section-details {
	display: flex;
	flex-direction: column;
	width: 600px;
	align-self: center;
	align-items: center;
	padding-top: 20px;

	.single-section {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		background: #fff;
		min-height: 90px;
		border-radius: 8px;
		width: 100%;
		align-items: center;
		// padding-left: 15px;
		padding-right: 5px;
		margin-top: 15px;
		border: 1px solid #E0E0E0;
		transition: 0.3s all;
		user-select: none;

		&:hover {
			border: 1px solid #828282;
		}

		.section-options {
			display: flex;
		}

		.section-info {
			display: flex;
			flex-direction: row;
			height: 100%;

			.section-grip {
				width: 20px;
				flex: 0 1 20px;
			    align-items: center;
			    justify-content: center;
			    line-height: 0;
			    font-size: 18px;
			    transition: 0.3s all;
			    display: flex;
			    flex-direction: row;
			    cursor: move;
			    padding-right: 25px;
			    padding-left: 25px;

			    .section-grip-icon {

			    	&:before {
			    	font-family: $icon-font-solid;
				    font-style: normal;
				    font-weight: 400;
				    font-variant: normal;
				    line-height: 1;
				    text-decoration: inherit;
				    text-rendering: optimizeLegibility;
				    text-transform: none;
			    	content: "\f142";
				    color: #828282;
				    }
			    }
			}

			.single-section-details {
				display: flex;
				flex-direction: column;

				.single-section-details-heading {
					font-weight: 600;
					font-size: 16px;
					color: #828282;
					letter-spacing: 0.0125em;
				}

				span {
					color: #828282;
				}
			}
		}
	}
}

.question-details {
	max-width: 550px;
	width: unset;
	padding-top: 35px;

	.section-header {
		display: flex;
		flex-direction: row;
		width: 100%;

		label {
			padding-left: 0;
		}

		.section-info-title {
			flex: 1 0 230px;
			min-width: 230px;
			max-width: 420px;
			padding-left: 65px;
		}

		.checkbox-title {
			flex: 1 1 70px;
			max-width: 70px;
			min-width: 70px;
			flex-direction: row;
			justify-content: center;
			display: flex;
		}
	}

	.single-section {
		min-height: 55px;
		border: none;
		margin-top: 0;
		padding-right: 0;

		&:hover {
			border: none;
		}

		.section-info {
			flex: 1 0 130px;

			.input-fields {
				padding-top: 0;

				input {
					width: 180px;
					margin-right: 10px;
				}

				input[type=checkbox] {
					width: 0;
				}

				&:last-child input {
					margin-right: 0;
				}
			}
		}

		.section-checkbox {
			display: flex;
			flex: 1 1 70px;
			min-width: 70px;
			justify-content: center;
			flex-direction: row;

			.input-fields {
				padding-top: 0;

				label {
					margin-right: 0;
					padding-left: 17px;
					line-height: 17px;
				}
			}
		}

		.section-options {
			display: flex;
			flex: 1 1 14px;
			min-width: 14px;

			.options-button {
				margin-right: 0px;
			}
		} 
	}
}