input, .select2-container .select2-selection--single {
	border: 1px solid #E0E0E0;
	transition: 0.3s all;
	font-size: 16px;
	min-height: 48px;
	width: 300px;
	flex: 0 1 48px;
	padding-left: 15px;
	padding-right: 15px;
}

input, .select2-container .select2-selection--single[aria-expanded="false"] {
	border-radius: 8px !important;
}

.select2-container .select2-selection--single[aria-expanded="true"] {
	border-top-left-radius: 8px !important;
	border-top-right-radius: 8px !important; 
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	border: 1px solid #E0E0E0 !important;
	
	&:hover {
		border: 1px solid #E0E0E0 !important;
	}
}


input:hover, input:focus {
	border: 1px solid #828282;
}

input:hover::placeholder, input:focus::placeholder {
	opacity: 1;
}

input:focus {
	outline: none;
	border: 1px solid #009CE0;
}

label {
	font-weight: 600;
	letter-spacing: 0.0125em;
	color: #828282;
	padding-left: 15px;
	margin: 0;
	padding-bottom: 0;
}

.select2-container .select2-selection--single {
	display: flex !important;
	align-items: center !important;
	border: 1px solid #E0E0E0 !important;
	justify-content: space-between;

	&:focus {
		outline: none;
	}

	&:hover {
		border: 1px solid #828282 !important;
	}
}

.select2-selection__arrow {
	align-items: center;
	display: flex;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	position: unset !important;
	width: unset !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
	position: unset !important;
	margin: 0;
}

.select2-search--dropdown {
	padding: 4px 10px !important;
}

.select2-container--open .select2-dropdown--below {
	border-bottom: 1px solid #E0E0E0 !important;
	border-left: 1px solid #E0E0E0 !important;
	border-right: 1px solid #E0E0E0 !important;
	border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.select2-search input {
	border: none;
}

.select2-results__options {
	padding: 10px !important;
	font-size: 16px;

}

.select2-results__option {
	padding: 12px 5px !important;
	color: #333333;
	opacity: 0.8;
}

// .select2-container--open .select2-dropdown--below {
// 	width: 302px !important;
// 	margin-left: -1px !important;
// }

.select2-search__field {
	padding-left: 15px !important;
	border-top: none !important;
	border-right: none !important;
	border-left: none !important;
	border-radius: 0 !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	border-radius: 4px;
	background-color: #f2f2f2 !important;
	color: #333333 !important;
	opacity: 1;
}

.select2-container--default .select2-results__option[aria-selected=true] {
	background-color: #fff !important;
	color: #333333 !important;
	opacity: 0.8;

	&:hover {
		background-color: #f2f2f2 !important;
		color: #333333 !important;
		opacity: 1;
	}
}

.select2-selection__clear {
	display: none;
}


.checkbox {
	input[type=checkbox] {
	    opacity: 0;
	    width: 0;
	    height: 0;
	    padding: 0;
	    min-height: 0;
	    flex: unset;
	}

	label {
		transition: border .2s linear 0s,color .2s linear 0s;
		display: inline-block;
	    cursor: pointer;
	    position: relative;
	    padding-left: 25px;
	    margin-right: 15px;
	    min-width: 17px;
	    min-height: 17px;
	    line-height: 20px;
	    margin-bottom: 0;
	    user-select: none;

	    &:before {
	    	top: 1.4px;
		    border-radius: 4px;
		    transition: border .2s linear 0s,color .2s linear 0s;
		    box-sizing: border-box;
		    content: "";
		    display: inline-block;
		    width: 17px;
		    height: 17px;
		    margin-right: 10px;
		    position: absolute;
		    left: 0;
		    background-color: #fff;
		    border: 1px solid #BDBDBD;
	    }

	    &:after {
	    	display: inline-block;
		    width: 16px;
		    height: 16px;
		    position: absolute;
		    left: 4.5px;
		    top: 1px;
		    font-size: 9px;
		    transition: border .2s linear 0s,color .2s linear 0s;
	    }
	}
}


.checkbox input[type=checkbox]:checked+label::after {
	font-family: $icon-font-solid;
	content: "\F00C";
    color: #fff;	
}

.checkbox input[type=checkbox]:checked+label::before {
    background-color: #009CE0;
    border-color: #009CE0;
}

.radio {
	input[type=radio] {
	    opacity: 0;
	    width: 0;
	    height: 0;
	    padding: 0;
	    min-height: 0;
	    flex: unset;
	}

	.radio-label {
		transition: border .2s linear 0s,color .2s linear 0s;
		display: inline-block;
	    cursor: pointer;
	    position: relative;
	    padding-left: 25px;
	    margin-right: 15px;
	    min-width: 17px;
	    min-height: 17px;
	    line-height: 20px;
	    margin-bottom: 0;
	    user-select: none;
	    margin-top: 15px;

	    &:before {
	    	top: 1.4px;
		    border-radius: 50%;
		    transition: border .2s linear 0s,color .2s linear 0s;
		    box-sizing: border-box;
		    content: "";
		    display: inline-block;
		    width: 17px;
		    height: 17px;
		    margin-right: 10px;
		    position: absolute;
		    left: 0;
		    background-color: #fff;
		    border: 2px solid #BDBDBD;
	    }

	    &:after {
	    	display: inline-block;
		    width: 16px;
		    height: 16px;
		    position: absolute;
		    left: 4px;
		    top: 0;
		    font-size: 9px;
		    transition: border .2s linear 0s,color .2s linear 0s;
	    }
	}
}

.radio input[type=radio]:checked+label::after {
	font-family: $icon-font-solid;
	content: "\F111";
    color: #009CE0;	
}

.radio input[type=radio]:checked+label::before {
    border-color: #009CE0;
}

.radio-section-heading {
	padding-left: 0;
}

.input-field-icon {
	position: absolute;
    top: 50%;
	right: 10px;
    left: auto;
    z-index: 99;
    font-size: 16px;
    line-height: 0;
    display: table-cell;
    vertical-align: middle;


    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);

    &:before {
    	font-family: $icon-font-solid;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        line-height: 1;
        text-decoration: inherit;
        text-rendering: optimizeLegibility;
        text-transform: none;
        color: #009CE0;
    }
}

.list-icon:before {
	content: "\f0ae";
}

//TOGGLE

.toggle {
    position: relative; width: 60px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.toggle-checkbox {
    display: none;
}
.toggle-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 2px solid #999999; 
    border-radius: 20px;
    padding-left: 0;
}
.toggle-inner {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
    box-sizing: unset;
}
.toggle-inner:before, .toggle-inner:after {
    display: block;
    float: left; 
    width: 50%; 
    height: 20px; 
    padding: 0;
    line-height: 20px;
    font-size: 12px; 
    color: white; 
    font-weight: 600;
    box-sizing: border-box;
}
.toggle-inner:before {
    content: "YES";
    padding-left: 10px;
    background-color: #FFFFFF; 
    color: #1E2543;
}
.toggle-inner:after {
    content: "NO";
    padding-right: 10px;
    background-color: #FFFFFF; 
    color: #1E2543;
    text-align: right;
}
.toggle-switch {
    display: block; 
    width: 16px; 
    margin: 2px;
    background: #0192D2;
    position: absolute; 
    top: 0; 
    bottom: 0;
    right: 36px;
    border: 2px solid #0192D2; 
    border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
    box-sizing: unset;
}
.toggle-checkbox:checked + .toggle-label .toggle-inner {
    margin-left: 0;
}
.toggle-checkbox:checked + .toggle-label .toggle-switch {
    right: 0px; 
}

.toggle-input-field {
	flex-direction: row !important;
	justify-content: space-between;
	padding: 0 15px;
    font-weight: 600;
    letter-spacing: 0.0125em;
    color: #828282;
}