.login-container {
	background: #252942;
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	position: relative;

	.login-wrapper {
		display: flex;
		align-items: center;
		flex-direction: column;

		img {
			max-width: 205px;
		}

		.login-heading {
			font-weight: 700;
			font-size: 24px;
			letter-spacing: 0.05em;
			color: #fff;
			padding-top: 30px;
		}

		.input-field-group {
			padding-top: 0;

			.input-fields {
				padding-top: 7px;

				label {
					color: #F2F2F2;
					opacity: 0.8;
				}
			}

			.primary-button-wrapper {
				margin-top: 30px;
			}
		}
	}

	.poweredby {
		position: absolute;
		bottom: 20px;
		right: 20px;

		img {
			margin-bottom: 0;
		}
	}
}