body.modal-open {
    // padding-right: 0 !important;
}

.noscroll {
	overflow: hidden;
}

.modal {
	// padding-right: 0 !important;
	padding-left: 200px;
	display: flex;
	overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
	visibility: hidden;
	opacity: 0;
	transition: opacity 500ms;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}


.modal-content {
	padding: 0 15px;

	.modal-header {
	padding: 25px 0 0 0;
	border-bottom: none;
	}

	.modal-body {
		padding-left: 0;
		padding-right: 0;
	    display: flex;
	    flex-direction: column;
	    padding-top: 0;
		
		.modal-section-content {
			display: flex;
			flex-direction: column;
			padding-top: 25px;

			.modal-section-heading {
			border-bottom: 1px solid #BDBDBD;
			}

			.input-field-group {
				padding-top: 0;
			}

			.button-group {
				padding-top: 20px;
			}
		}
		
	}
}

@media (min-width: 576px) {
	.modal-dialog {
	    max-width: 700px;
	    min-width: 700px;
	    margin: 70px auto;
	}	
}
