.sidebar {
	flex: 0 0 auto;
	width: 200px;
	height: calc(100vh - 50px);
	background-color: #4E5061;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	position: fixed;
	z-index: 1000;
	top: 50px;
}

.main-nav {
	padding: 60px 0;
	list-style: none;
	line-height: unset;
	display: flex;
	flex-direction: column;
}

.menu-item {
	display: inline-flex;
	flex: 1 1 auto;
	padding: 0;
	margin: 0;
	transition: 0.3s all;
    flex-direction: column;
}


.main-nav .menu-item a {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	min-height: 38px;
	font-size: 14px;
	line-height: 1;
	font-weight: bold;
	color: $white;
	display: inline-block;
	text-decoration: none;
	width: 100%;
	overflow: hidden;
	align-self: center;
	display: flex;
	align-items: center;

	&:hover {
	background-color: $menu-hover;
	}

	span {
		width: 140px;
    	padding-right: 10px;
    	word-wrap: break-word;
	}

}

.main-nav .menu-item .active {
	background-color: $menu-hover;
}

.menu-item-icon {
	width: 26px;
	flex: 0 1 26px;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    line-height: 0;
    font-size: 16px;

	&:before {
		font-family: $icon-font-solid;
	    font-style: normal;
	    font-weight: 400;
	    font-variant: normal;
	    line-height: 1;
	    text-decoration: inherit;
	    text-rendering: optimizeLegibility;
	    text-transform: none;
	    color: #9FE866;
	}
}

.menu-separator {
	border-top: 1px solid #60658A;
	width: 80%;
	align-self: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.poweredby {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
	img {
		width: 135px;
		height: 22px;
		align-self: flex-end;
	    margin-bottom: 15px;
	}
}





.approvals-icon:before {
	content: "\f058";
}

.reports-icon:before {
	content: "\f15b";
}

.forms-icon:before {
	content: "\f1c0";	
}

.timesheet-icon:before {
	content: "\f017";		
}

.dropdown-menu-item-icon {
	width: 15px;
	flex: 0 1 15px;
	display: table-cell;
    height: 100%;
    vertical-align: middle;
    line-height: 0;
    font-size: 5px;

	&:before {
	font-family: $icon-font-solid;
	content: "\f111";
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    color: #9FE866;
	}
}

.dropdown-menu-item-icon-chevron {
	width: 15px;
	flex: 0 1 15px;
	display: table-cell;
    height: 100%;
    vertical-align: middle;
    line-height: 0;
    font-size: 10px;

	&:before {
	font-family: $icon-font-solid;
	content: "\f054";
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    color: #9FE866;
	}
}

.panel-body {
	background-color: #575969;

	.nav li a {
	text-transform: uppercase;
    align-items: center;
    padding-left: 27px;

	    span {
	    	font-weight: 400;
	    	width: 140px;
	    	padding-right: 10px;
	    	word-wrap: break-word;
	    	font-size: 12px;
	    }
	}
}

a[aria-expanded="false"] .menu-item-icon-chevron, a[aria-expanded="true"] .menu-item-icon-chevron, .menu-item-icon-chevron {
	width: 15px;
	flex: 0 1 15px;
	display: table-cell;
    height: 100%;
    vertical-align: middle;
    line-height: 0;
    font-size: 10px;

	&:before {
	font-family: $icon-font-solid;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    color: #9FE866;
	}
}

a[aria-expanded="true"] .menu-item-icon-chevron:before {
	content: "\f077";
}

a[aria-expanded="false"] .menu-item-icon-chevron:before {
	content: "\f078";
}

.menu-item-icon-chevron:before {
	content: "\f078";
}