.table-bordered thead th, .table-bordered tr {
	border: none;
}

table.table-bordered {
	border: none;
}

.table-body {
	background-color: $white;
	border-top: none !important;
	border-right: none !important;
	border-bottom: none !important;
}

.table-body th {
	font-weight: normal;
}

// .table-body, .table-row, .table-bordered .table-body th {
//   border: 1px solid #CCEBF9;
// }

// .table-hover tbody tr {
// 	transition: 0.3s all;
// }

// .table-hover tbody tr:hover {
// 	background-color: #EDEDED;
// }

.table-footer {
	display: flex;
	padding: 35px 165px 50px 15px;
	justify-content: flex-end;
}

// .table-row div:last-child {
// 	background: $grey;
// 	border: none;
// 	width: 150px;
// }

// .table .table-body th, .table .table-body td {
// 	padding: 1rem;
// }

// .table .table-header th {
// 	padding-left: 1rem;
// }

.options-icon {
	width: 14px;
	flex: 0 1 14px;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    line-height: 0;
    font-size: 14px;
    transition: 0.3s all;

    &:before {
		font-family: $icon-font-regular;
	    font-style: normal;
	    font-weight: 400;
	    font-variant: normal;
	    line-height: 1;
	    text-decoration: inherit;
	    text-rendering: optimizeLegibility;
	    text-transform: none;
	    color: #BDBDBD;
    }
}

.options-icon:hover:before {
	color: #828282;
}

.edit-button-icon:before {
	content: "\f044";
}

.trash-button-icon:before {
	content: "\f2ed";
}

.copy-button-icon:before {
	content: "\f0c5";
}

.options-button {
	margin-right: 10px;
}

.bs-tooltip-top {
	top: -5px !important;
}

.bs-tooltip-right {
	left: 15px !important;
	
	.tooltip-inner {
		background: none !important;
		color: #828282 !important;
		max-width: 300px;
	}

	.arrow:before {
		border: none !important;
	}
}

.active-icon, .inactive-icon {
	width: 25px;
	flex: 0 1 25px;
    height: 100%;
    vertical-align: middle;
    line-height: 0;
    font-size: 14px;
    transition: 0.3s all;
    display: inline-block;

    &:before {
    	font-family: $icon-font-solid;
	    font-style: normal;
	    font-weight: 400;
	    font-variant: normal;
	    line-height: 1;
	    text-decoration: inherit;
	    text-rendering: optimizeLegibility;
	    text-transform: none;
    }
}

.active-icon:before {
	content: "\f00c";
    color: #6FCF97;
}

.inactive-icon:before {
	content: "\f00d";
    color: #BDBDBD;
}

.table-container {
	display: flex;
	flex-direction: column;
	position: relative;
}

.table-header, .table-row {
	display: flex;
	flex-direction: row;
	flex: 1 1 auto;
	min-height: 54px;
}

.table-header {
	.table-cell {
		border: none;
		letter-spacing: 0.02em;
		color: #828282;
		font-size: 12px;
		font-weight: 600;
		padding-bottom: 0;
	}
}

.table-row {
	background: #fff;

	&:hover {
		background: #EDEDED;
	}
}

.table-cell {
	display: flex;
	flex: 1;
	align-items: center;
	min-height: 54px;
	padding: 1rem;
	border: 1px solid #CCEBF9;

	word-break: break-all;
	white-space: normal;

	// &:last-child {
	// 	max-width: 80px;
	// 	min-width: 80px;
	// 	justify-content: center;
	// }

	// &:nth-last-child(2) {
	// 	max-width: 80px;
	// 	min-width: 80px;
	// 	justify-content: center;
	// }

	.checkbox {
		padding-top: 0;

		label {
			margin-right: 0;
			padding-left: 17px;
		}
	}

}

.inner-container {
	padding-left: 40px;
	padding-bottom: 40px;
	padding-top: 40px;
	background: #FAFAFA;
	display: flex;
	flex-direction: column;
	// border: 1px solid #CCEBF9;
}

.approvals {
	padding-right: 60px;

	.table-row {
		.table-cell {
			.checkbox {
				padding-top: 0;
				flex-direction: column;

				span {
					letter-spacing: 0.02em;
					color: #828282;
					font-size: 12px;
					font-weight: 600;
					word-break: break-word;
					text-align: center;
					padding-bottom: 10px;
				}
				
				label {
					margin-right: 0;
					padding-left: 17px;
				}
			}
		}
	}

	.approvals-options {
		background: none;
		border: none;
		justify-content: flex-end;

		.table-cell {
			border: none;
		}
	}
}

.active-row {
	background: #EDEDED;
	// border-bottom: 1px solid #252942;
}

.inner-container-heading {
	
	padding-left: 1rem;

	h4 {
	color: #252942;
	letter-spacing: 0.03em;
	font-size: 14px;
	font-weight: 600;
	} 
}

.table-button-cell {
	display: flex;
	flex-direction: row;
	padding: 1rem;
	border: none;
	background: none;
	align-items: center;
	justify-content: center;

	.options-button {
		background: none;
		&:last-child {
		margin-right: 0;
		}
	}
}

.container-cell {
	flex-direction: column;
	padding: 0;

	.table-row {
		width: 100%;
	}
}

/* --------- WORKING PATTERN TABLE --------- */

.pattern-details-table {
    justify-content: center;
    display: flex;

	.table-container {
		max-width: 810px;
		width: 100%;

		.table-row {
			.table-cell {
				.select2-selection--single {
					max-width: 100px;
					border: none !important;
					padding-left: 0;
					background: none;

					.select2-selection__rendered {
						padding-left: 0;

						.select2-selection__placeholder {
							color: #333;
						}
					}
				}
			}

			input[type=time] {
				min-height: unset;
				width: unset;
				padding: 0;
				background: none;
				border: none;

				&::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
					-webkit-appearance: none; 
				  	margin: 0;
				}

				&::-webkit-clear-button {
					display: none;
				}
			}
		}
	}
}


/* --------- WORKING PATTERN TABLE END --------- */

/* --------- NO RESULTS TABLE --------- */

.noresults-row {
	background: #f9f9f9;
	opacity: 0.5;


	.table-cell, .table-button-cell {
		border: 1px solid #F2ECEC;
	}

	.table-button-cell {
		background: #f9f9f9;
	}

	&:hover {
		background: #f9f9f9;
	}
}

.noresults-sign {
	position: absolute;
	top: 46%;
	z-index: 1000;
	left: 40%;
	background: #fff;
	border-top: 6px solid #009CE0;
	border-radius: 4px;
	padding: 15px 45px 15px 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
	user-select: none;

	-webkit-box-shadow: 10px 10px 70px 0px rgba(153,153,153,0.6);
	-moz-box-shadow: 10px 10px 70px 0px rgba(153,153,153,0.6);
	box-shadow: 10px 10px 70px 0px rgba(153,153,153,0.6);

	.noresults-icon-container {
		background: #009CE0;
		width: 55px;
		height: 55px;
		border-radius: 50%;
		margin-right: 20px;
		display: flex;
		justify-content: center;
		align-items: center;

		.search-icon {
			display: table-cell;
			vertical-align: middle;
			line-height: 0;
			font-size: 25px;

			&:before {
				font-family: $icon-font-solid;
			    font-style: normal;
			    font-weight: 400;
			    font-variant: normal;
			    line-height: 1;
			    text-decoration: inherit;
			    text-rendering: optimizeLegibility;
			    text-transform: none;
				content: "\f002";
				color: #fff;
			}
		}
	}

	.noresults-heading {
		font-size: 23px;
		line-height: 1;
		font-weight: 600;
		letter-spacing: 0.03em;
		color: #4F4F4F;
		text-transform: capitalize;
	}
}

/* --------- NO RESULTS END --------- */

.flex1 {
	flex: 1;
}

.flex2 {
	flex: 2;
}

.flex3 {
	flex: 3;
}

.flex4 {
	flex: 4;
}

.flex5 {
	flex: 5;
}

.flex6 {
	flex: 6;
}

.flex7 {
	flex: 7;
}

.table-button-cell {
	display: flex;
	flex-direction: row;
	padding: 1rem;
	border: none;
	background: #e5e5e5;
	align-items: center;
	justify-content: center;
	min-width: 95px;
	max-width: 95px;

	.options-button {
		background: none;
		&:last-child {
		margin-right: 0;
		}
	}
}


// .table-row, .table-header {
// 	.table-cell {
// 		&:last-child {
// 		background: $grey;
// 		border: none;
// 		max-width: 150px;
// 		}
// 	}
// }