body {
	font-family: $body-font;
	font-size: 14px;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

.header-title {
	font-family: $heading-font;
	font-size: $heading-size;
	color: $heading-color;
}

.section-header-title h2 {
	font-family: $body-font;
	color: #333333;
	font-size: 24px;
	letter-spacing: 0.03em;
	font-weight: 700;
}

.menu-item a span {
	font-family: $body-font;
	font-size: $body-size;
	font-weight: 700;
	letter-spacing: 0.017em;
}

.table-header .table-row th span {
	color: #828282;
	text-transform: capitalize;
	font-weight: 600;
	letter-spacing: 0.02em;
}

.table-header .table-row th {
	padding-bottom: 0.2rem;
}

.options input::placeholder {
	font-size: 16px;
	font-style: italic;
	letter-spacing: 0.05em;
	color: #333333;
	opacity: 0.6;
}

.error-desc {
	font-size: 16px;
	font-weight: 600;
	color: #828282;
}

.modal-title {
	font-family: $heading-font;
	color: $heading-color;
	margin-bottom: 8px;
	font-size: 24px;
	letter-spacing: 0.03em;
}

.modal-section-heading {
	h4 {
		font-size: 18px;
		font-weight: 600;
		letter-spacing: 0.03em;
	}
}

