.validation-error {
	border: 1px solid #EB5757;

	&:focus, &:hover {
		border: 1px solid #EB5757;
	}
}

.validation-message {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	padding-top: 10px;

	span {
		font-size: 14px;
		line-height: 1;
		letter-spacing:	0.015em;
		color: #828282;
	}
}

.validation-error-icon {
	width: 26px;
	flex: 0 1 26px;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    line-height: 0;
    font-size: 16px;

    &:before {
		font-family: $icon-font-solid;
	    font-style: normal;
	    font-weight: 400;
	    font-variant: normal;
	    line-height: 1;
	    text-decoration: inherit;
	    text-rendering: optimizeLegibility;
	    text-transform: none;
	    color: #EB5757;
	    content: "\f071";
	}
}
