//Fonts

$heading-font: "League Spartan", Arial, Helvetica, sans-serif;
$icon-font-regular: "Font Awesome Regular", sans-serif;
$icon-font-brands: "Font Awesome Brands", sans-serif;
$icon-font-solid: "Font Awesome Solid", sans-serif;
$heading-size: 24px;
$heading-color: #252942;

$body-font: "Source Sans Pro", sans-serif;
$body-size: 14px;


$menu-hover: rgba(255, 255, 255, 0.1);

$primary-gradient: linear-gradient(180deg, #009CE0 0%, #0087C2 100%);